.dark {
  color: black;
}
.light {
  color: white;
}
td {
  border: solid thin;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 0.5px;
  font-size: 30px;
  background-color: rgb(48, 42, 42);
  font-family: "Allerta Stencil", sans-serif;
}
