.dark {
    color: #666;
}
.light {
    color: white;
}
td {
    border: solid thin;
    height: 40px;
    width: 40px;
    text-align: center;
    padding: 0.5px;
    font-size: 30px;
    background-color: blue;
}